<div id="headerContent" style="text-align: right;">
<img style="zoom: 50%" alt="PaniniTech" src="http://192.168.0.61/logopaninitech.png"/>
</div>
<div id="footerContent">
    <div style="text-align: center;"> <pdf:pagenumber/> </div>
    <div style="text-align: justify; font-size: 0.8em; color: #a0a0a0; ">Cualquier uso no autorizado de materiales contenidos en este sitio
    web puede vulnerar derechos de propiedad intelectual, derechos de
    propiedad industrial, de privacidad, publicidad y dem&aacute;s legislaci&oacute;n
    aplicable a las telecomunicaciones.
    <br/><strong>&copy; 2010 PaniniTech S.L.</strong> - <em>Informaci&oacute;n Confidencial</em> - <span style="text-decoration: underline;">Todos los derechos reservados</span>
    </div> 
</div>
