<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:py="http://genshi.edgewall.org/" class="testsplugin">

	<div class="testsuitetitle">${title}</div>	
	<table class="templatetable">
		<tbody>
			<py:for each="i, (section_title, tests, section_file) in enumerate(sections)">
				<tr py:if="section_title">
					<td colspan="2" class="testssection">${section_title}</td>
				</tr>
				<tr>
					<td class="testheaders">Test Name</td>
					<td class="testheaders" colspan="2">Description</td>
				</tr>
				<py:with vars="cls=cycle(('odd', 'even'))">
				<tr py:for="test in tests">
					<py:with vars="tdclass=cls.next()">
					<td class="${tdclass}">${test[0]}</td>
					<td class="${tdclass}" colspan="2">${test[1]}</td>
					</py:with>
				</tr>
				<tr py:if="section_file">
					<form name="newtest.${i}" method="get">
					<td class="newtest"><input type="text" name="ntname" style="width: 99%"/></td>
					<td class="newtest">
						<input type="text" name="ntdesc" style="width: 99%"/>
                    </td>
                    <td class="newtest">
						<input type="submit" name="newtest" value="New"/>
						<input type="hidden" name="section_file" value="${section_file}" />
						<input type="hidden" name="macro_id" value="${macro_id}" />
					</td>
					</form>
				</tr>
				</py:with>
			</py:for>
		</tbody>
	</table>
	
	<form name="testsuite" method="get">
	<input type="hidden" name="macro_id" value="${macro_id}" />	
	<div class="testsuitecontrols">
		<py:if test="not create_mode">
		<label for="suitename">Suite Name:</label><input type="text" name="suitename" id="suitename"/> 
		<input type="submit" name="createsuite" value="Create Test Suite" />
		</py:if>
		<py:if test="create_mode">
			<py:if test="page_url">
				<div><a href="${page_url}">Go to current test page</a></div>
			</py:if>
			<py:if test="not page_url">
				<input type="submit" name="createtestpage" value="Create Test Page ${title}" />
			</py:if>
		<div class="testsuitetitle">Existing test pages:</div>
		<ul>	
			<li py:for="page in page_list">
			<a href="{$page.url}">${page.name}</a>
			</li>
		</ul>
		</py:if>
	</div>
	
	</form>
</div>

