<div xmlns="http://www.w3.org/1999/xhtml"
	xmlns:xi="http://www.w3.org/2001/XInclude"
	xmlns:py="http://genshi.edgewall.org/" class="testsplugin">

<script type="text/javascript">
//<![CDATA[


function enableCurrRow(rowID)
{
	$('#' + rowID).addClass('celdaListadoCurrent');
}

function disableCurrRow(rowID)
{
	$('#' + rowID).removeClass('celdaListadoCurrent');
}
//]]>
</script>
<div class="testsfilter">
<form name="test" method="GET">
	Filter:

	<input type="checkbox" id="filter_pending" name="filter" value="P" py:attrs="'P' in statusfilter and {'checked': 'checked'}" />
	<label for="filter_pending">Pending</label> 

	<input type="checkbox" id="filter_ok" name="filter" value="O" py:attrs="'O' in statusfilter and {'checked': 'checked'}" />
	<label for="filter_ok">Passed</label> 

	<input type="checkbox" id="filter_failed" name="filter" value="X" py:attrs="'X' in statusfilter and {'checked': 'checked'}" />
 	<label for="filter_failed">Failed</label> 

	<input type="submit" name="apply_filter" value="Apply Filter" />
</form>
</div>
<table class="testtable">

	<py:for each="i, (section_title, tests) in enumerate(sections)">
		<py:with vars="cls=cycle(('odd', 'even'))">
		<tr py:if="section_title and tests">
			<td colspan="6" class="testssection">${section_title}</td>
		</tr>	
		<tr py:if="tests">
			<th>Id</th>
			<th>Name</th>
			<th>Description</th>
			<th>Date</th>
			<th>Comments</th>
			<th>Status</th>
		</tr>		
		<py:for each="test in tests">
		<tr id="row_${test.testcase}" onMouseOver="javascript: enableCurrRow('row_${test.testcase}');" onMouseOut="javascript: disableCurrRow('row_${test.testcase}');" class="${cls.next()} ${test.status}">
			<form name="test" method="get" id="${test.testcase}">
			<td>
				<input type="hidden" name="filter" value="${statusfilter}" />
				<input type="hidden" name="macro_id" value="${macro_id}" />					
				<input type="hidden" name="testcase" value="${test.testcase}" />${test.testcase}
			</td>
			<td>${test.testname}</td>
			<td>${test.testdescription}</td>
			<td style="white-space: nowrap">${test.teststamp}</td>
			<td py:if="test.status == 'P'"><textarea name="comment" rows="5" cols="40">${test.comment}</textarea></td>
			<td py:if="test.status != 'P'">${test.comment}</td>
			<td style="white-space: nowrap">
				<py:choose test="">
					<py:when test="test.status == 'P'">
						<select name="status" onchange="javascript:this.style.backgroundColor=this.options[this.selectedIndex].style.backgroundColor;">
							<option value="P" style="background-color: #fff;">Pending</option>
							<option value="O" style="background-color: #d0ffd0;">Passed</option>
							<option value="X" style="background-color: #ffd0d0;">Failed</option>
						</select> 
						<input type="submit" name="update" value="Update"/>
					</py:when>
					<span py:when="test.status == 'O'">OK</span>
					<span py:when="test.status == 'X'">Failed</span>
				</py:choose>
			</td>
			</form>
		</tr>
		</py:for>
		</py:with>
	</py:for>
</table>
</div>

